<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket Address and Timestamps</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <p>Build log available <a href="/git_log">here</a></p>
    <p>Last loaded config: {{ loaded_path }}</p>
    <h1>Socket Address and Timestamps</h1>
    <table>
        <thead>
            <tr>
                <th>Socket Address</th>
                <th>Timestamp (UTC)</th>
            </tr>
        </thead>
        <tbody>
            {# Iterate over the hashmap #}
            {% for addr, timestamp in connections %}
            <tr>
                <td>{{ addr }}</td>
                <td>{{ timestamp }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="2">No data available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
